<extend name="./Public/home/home.html" />
<block name="title">
	<title>{$case.cs_title}-杭州周姜达文化创意有限公司案例展示</title>
</block>
<block name="main">
	<div class="c_works_display">
            <!--<div class="c_works_display_container">-->
                <div class="mod18">
                    <span id="prev" class="btn prev"></span>
                    <span id="next" class="btn next"></span>
                    <span id="prevTop" class="btn prev"></span>
                    <span id="nextTop" class="btn next"></span>
                    <div id="picBox" class="picBox">
                        <ul class="cf">
				<foreach name="images" item="v" >
				<if condition="$v['img_id'] neq $case['cs_cover']" >
				    <li>
					<a target="_blank">
					    <img width="680" height="380" src="{$v.img_src}" alt="" />
					</a>
					<div class="pictxt">
					    <p>
						{$v.img_des}
					    </p>
					</div>
				    </li>
				</if>
				</foreach>
                        </ul>
                    </div>

                    <div id="listBox" class="listBox">
                        <div class="listBox_header">
                            <a>
				{$case.cs_title}
                            </a>
                            <div class="right_txt">
                                <img src="/Public/home/images/back.png">
                                <a href="/case/group">返回列表</a>
                            </div>
                            <hr>

                        </div>

                        <ul class="cf">
				<?php $i=0;?>
				<foreach name="images" item="v" >
				<if condition="$v['img_id'] neq $case['cs_cover']" >
				    <li <?php if(!$i){echo 'class="on"';}?>>
					<if condition="$i=0">
					<i class="arr2"></i>
					</if>
					<img width="118" height="64" src="{$v.img_src}" />
				    </li>
				<?php $i++;?>
				</if>
				</foreach>
                        </ul>
                    </div>

                <!--</div>-->
            </div>
    <script type="text/javascript" src="/Public/home/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/home/js/jquery.nicescroll.js"></script>
    <script type="text/javascript">
        $(".pictxt").niceScroll({
            cursorcolor:"#00fcff",
            cursoropacitymax:1,
            touchbehavior:false,
            cursorwidth:"5px",
            cursorborder:"0",
            cursorborderradius:"5px"
        });
    </script>
    <script type="text/javascript">
        (function(){

            function G(s){
                return document.getElementById(s);
            }

            function getStyle(obj, attr){
                if(obj.currentStyle){
                    return obj.currentStyle[attr];
                }else{
                    return getComputedStyle(obj, false)[attr];
                }
            }

            function Animate(obj, json){
                if(obj.timer){
                    clearInterval(obj.timer);
                }
                obj.timer = setInterval(function(){
                    for(var attr in json){
                        var iCur = parseInt(getStyle(obj, attr));
                        iCur = iCur ? iCur : 0;
                        var iSpeed = (json[attr] - iCur) / 5;
                        iSpeed = iSpeed > 0 ? Math.ceil(iSpeed) : Math.floor(iSpeed);
                        obj.style[attr] = iCur + iSpeed + 'px';
                        if(iCur == json[attr]){
                            clearInterval(obj.timer);
                        }
                    }
                }, 30);
            }

            var oPic = G("picBox");
            var oList = G("listBox");

            var oPrev = G("prev");
            var oNext = G("next");
            var oPrevTop = G("prevTop");
            var oNextTop = G("nextTop");

            var oPicLi = oPic.getElementsByTagName("li");
            var oListLi = oList.getElementsByTagName("li");
            var len1 = oPicLi.length;
            var len2 = oListLi.length;

            var oPicUl = oPic.getElementsByTagName("ul")[0];
            var oListUl = oList.getElementsByTagName("ul")[0];
            var w1 = oPicLi[0].offsetWidth;
            var w2 = oListLi[0].offsetWidth;

            oPicUl.style.width = w1 * len1 + "px";
            oListUl.style.width = w2 * len2 + "px";

            var index = 0;

            var num = 5;
            var num2 = Math.ceil(num / 2);

            function Change(){

                Animate(oPicUl, {left: - index * w1});

                if(index < num2){
                    Animate(oListUl, {left: 0});
                }else if(index + num2 <= len2){
                    Animate(oListUl, {left: - (index - num2 + 1) * w2});
                }else{
                    Animate(oListUl, {left: - (len2 - num) * w2});
                }

                for (var i = 0; i < len2; i++) {
                    oListLi[i].className = "";
                    if(i == index){
                        oListLi[i].className = "on";
                    }
                }
            }

            oNextTop.onclick = oNext.onclick = function(){
                index ++;
                index = index == len2 ? 0 : index;
                Change();
            }

            oPrevTop.onclick = oPrev.onclick = function(){
                index --;
                index = index == -1 ? len2 -1 : index;
                Change();
            }

            for (var i = 0; i < len2; i++) {
                oListLi[i].index = i;
                oListLi[i].onclick = function(){
                    index = this.index;
                    Change();
                }
            }

        })()
    </script>
</block>

