<extend name="./Public/home/home.html" />
<block name="title">
	<title>首页-杭州周姜达文化创意有限公司</title>
</block>

<block name="main">
    <div id="banner" >
        <!--Slide & Banner  Start-->
        <div id="Slidebox">
            <!--flash begin-->
            <div class="mask"></div>
            <div id="flashBg">

                <div id="flash">
		<?php $m=1;?>
		<foreach name="flash" item="val">
                    <a style="display:block;" id="flash{$m}" target="_blank" href="###">
                        <img src="{$val.f_img}" height="560" width="995"></a>
		<?php $m+=1;?>
		</foreach>
                    <div class="flash_bar">
		<?php for($i=1;$i<=count($flash);$i++){ ?>
                        <div class="<?php if($i==1){echo 'dq';}else{echo 'no';}?>" id="f{$i}" onclick="changeflash({$i})"></div>
		<?php } ?>
                    </div>
                </div>
            </div>
            <!--flash end-->
        </div>
    </div>
<script type="text/javascript" src="/Public/home/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/home/js/flash.js"></script>
</block>
