<extend name="./Public/home/home.html" />
<block name="title">
	<title>首页-杭州周姜达文化创意有限公司</title>
</block>

<block name="main">
    <div id="banner" >
        <!--Slide & Banner  Start-->
        <div id="Slidebox">
            <!--flash begin-->
            <div class="mask"></div>
            <div id="flashBg">

                <div id="flash">
                    <a style="display:block;" id="flash1" target="_blank" href="###">
                        <img src="/Public/home/images/Slides-1.png" height="560" width="995"></a>
                    <a style="display: none;" id="flash2" target="_blank" href="#">
                        <img src="/Public/home/images/Slides-2.png" height="560" width="995"></a>
                    <a style=" display:none;" id="flash3" target="_blank" href="#">
                        <img src="/Public/home/images/Slides-3.png" height="560" width="995"></a>
                    <div class="flash_bar">
                        <div class="dq" id="f1" onclick="changeflash(1)"></div>
                        <div class="no" id="f2" onclick="changeflash(2)"></div>
                        <div class="no" id="f3" onclick="changeflash(3)"></div>
                    </div>
                </div>
            </div>
            <!--flash end-->
        </div>
    </div>
<script type="text/javascript" src="/Public/home/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/home/js/flash.js"></script>
</block>
