<extend name="./Public/home/home.html" />
<block name="title">
	<title>联系我们-杭州周姜达文化创意有限公司</title>
</block>
<block name="main">
        <div class="c_contact">
            <div class="c_contact_container">
                <div class="container_header">
                    <a>
                        联系我们
                    </a>
                    <hr>
                </div>
                <div class="c_contact_cont">
                    <div class="map_img">
                        <img src="/Public/home/images/map.gif">
                    </div>
                    <div class="cont_info">
                        <ul>
                            <li><p><span>地址：</span>{$contact.con_address}</p></li>
                            <li><p><span>电话：</span>{$contact.con_phone}</p></li>
                            <li><p><span>邮箱：</span>{$contact.con_email}</p></li>
                            <li><p><span>QQ：</span>{$contact.con_qq}</p></li>
                            <li><p><span>联系人：</span>{$contact.con_name}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</block>
