<extend name="./Public/home/home.html" />
<block name="title">
	<title>公司简介-杭州周姜达文化创意有限公司</title>
</block>
<block name="main">
        <div class="c_intro">
            <div class="container">
                <div class="container_header">
                    <a>
                        公司简介
                    </a>
                    <p class="prenav">/企业概况</p>
                    <hr>
                </div>
                <div class="c_intro_txt">
			{$about.a_content}
                </div>
                <div class="c_intro_pic">
                    <img src="/Public/home/images/company_pic.png">
                </div>
            </div>
        </div>
</block>
