<extend name="./Public/home/home.html" />
<block name="title">
	<title>设计师简介-杭州周姜达文化创意有限公司</title>
</block>
<block name="main">
        <div class="c_designer">
            <div class="c_designer_container">
                <div class="c_designer_lheader"></div>
<foreach name="designer" item="val">
                <div class="left_con">
                <img src="{$val.d_img}" >
                <div class="detail_intro">
                    <div class="base_info">
                        <div class="iconleft"></div>
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 245px"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>中文名：<span>{$val.d_name}</span></td>
                                <td>职业：<span>{$val.d_profession}</span></td>
                            </tr>
                            <tr>
                                <td>出生日期：{$val.d_birthday}</td>
                                <td>民族：{$val.d_nation}</td>
                            </tr>
                            <tr>
                                <td>出生地：{$val.d_hometown}</td>
                                <td>信仰：{$val.d_belief}</td>
                            </tr>
                            <tr>
                                <td>国籍：{$val.d_country}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="summary">
                        <div class="iconleft"></div>
                        <div class="sum_txt">
                            <p>{$val.d_brief}</p>
                        </div>
                    </div>
                </div>
                <div class="designintro">
                    <div class="designintro_header">
                    </div>
                    <div id="sucai">
		<p>
	{$val.d_intro}	
		</p>
                    </div>
                </div>
            </div>
</foreach>
            </div>
        </div>
    <script type="text/javascript" src="/Public/home/images/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Public/home/images/js/jquery.nicescroll.js"></script>
    <script type="text/javascript">
        $("#sucai").niceScroll({
            cursorcolor:"#00fcff",
            cursoropacitymax:1,
            touchbehavior:false,
            cursorwidth:"5px",
            cursorborder:"0",
            cursorborderradius:"5px"
        });
    </script>
    <script type="text/javascript">
        $("#sucai2").niceScroll({
            cursorcolor:"#00fcff",
            cursoropacitymax:1,
            touchbehavior:false,
            cursorwidth:"5px",
            cursorborder:"0",
            cursorborderradius:"5px"
        });
    </script>
</block>
