<extend name="./Public/home/home.html" />
<block name="title">
	<title>公司服务-杭州周姜达文化创意有限公司</title>
</block>
<block name="main">
        <div class="c_service">
            <div class="c_service_container">
                <div class="container_header">
                    <a>
                        服务范围
                    </a>
                    <p class="prenav">/企业概况</p>
                    <hr>
                </div>
                <div class="c_service_cont1">
                    <p>
                        方案布局<br>
                        概念设计<br>
                        工程管理<br>
                        装修工程<br>
                        艺术摆设品顾问<br>
                    </p>
                </div>
                <div class="c_service_cont2">
                    <p>
                        酒店<br>
                        商业环境<br>
                        会所设计<br>
                        娱乐空间<br>
                        办公空间<br>
                        家居软装<br>
                    </p>
                </div>
            </div>
        </div>
</block>
