/* CSS Document */
html {
    font-size:62.5%;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
body {
    font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    margin: 0;
    padding: 0;
    background-color: #3e403f;
}
a{
    cursor: pointer;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.clearfix{
    *zoom:1;
}

header{
    background: url("../images/header_bg.gif") repeat-x;
    height: 80px;
}
.header_middle{
    background: url("../images/header_middle.gif");
    width: 995px;
    height: 80px;
    margin: 0 auto;
}
/*nav{
    background: url("../images/nav_bg.gif") repeat-x;
    height: 28px;
}
.nav_menu{
    width: 960px;

    font-size: 14px;
    color: #ffffff;
    margin: 0 auto;

}
.nav_menu li{
    display: inline-block;
    cursor: pointer;
    float: left;
}
.nav_menu li a{
    color: #ffffff;
    margin-top: 3px;
    text-decoration: none;
    line-height: 25px;
    padding: 0 40px;
    display: block;
}
.nav_menu li a:hover{
    *//*filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#3e3e3e',endColorStr='#5b5b5b',gradientType='0');
    background: -moz-linear-gradient(top, #3e3e3e, #5b5b5b);
    background: -o-linear-gradient(top,#3e3e3e, #5b5b5b);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e3e3e), to(#5b5b5b));*//*
    background: url("../images/select_hover.png") bottom right no-repeat #5b5b5b ;
}
.nav_menu li a.selected{
    background: url("../images/select_hover.png") bottom right no-repeat #5b5b5b ;

}*/

/*nav*/
#nav{
    background: url("../images/nav_bg.gif") repeat-x;
    height: 28px;


}
#nav .nav-container{
    margin: 0 auto;
    width: 995px;
}
#nav .mainlevel{
    float:left;
    width:140px;
    z-index: 500;
    margin-top: 3px;
    /*IE6 only*/
}
#nav .mainlevel a{
    color:#fff;
    text-decoration:none;
    line-height:25px;
    display:block;
    padding:0 40px;
    text-align: center;
}
#nav .mainlevel a:hover,
#nav .mainlevel a.cur{
    color:#fff;
    text-decoration:none;
    background: url("../images/select_hover.png") bottom right no-repeat #5b5b5b ;
}
#nav .mainlevel ul{
    display:none;
    position:absolute;
    z-index: 5;
}
#nav .mainlevel li{
    margin-top: 0;
    background:#0b0d0c;
    width:140px;
    z-index: 5;
    /*IE6 only*/
}
#nav .mainlevel li img{
    padding-top: 10px;
    padding-left: 20px;
    line-height: 25px;
    float: left;
    display: inline-block;
}
#nav .mainlevel li a:hover{
    background-color:#292929 ;
    background-image: none;
}
#nav .mainlevel li:last-child{
    background: url("../images/img_sub_menu_bottom_corporate.png");
    height: 6px;
    width: 140px;

}



/*banner.css start*/
/*Slide Start幻灯片位置开始*/
#Slidebox{
    width:995px;
    height:560px;
    padding:0px;
    margin:0 auto;
    background:#e0b98b;
    overflow:hidden;
}
#flashBg {
    height: 560px;
    overflow: hidden;
    width:100%;
    clear: both;
    margin: 0;
    padding: 0;
    z-index: 0;
}
#flash{
    width: 995px;
    height: 560px;
    overflow: hidden;
    margin: 0 auto;
    clear: both;
    position: relative;
    padding: 0px 0px;
}
#flash a {
    width: 995px;
    height: 560px;
    display: none;
}
#flash img {
    width: 995px;
    height: 560px;
}
.flash_bar {
    /*width:555px;*/
    padding-left: 470px;
    z-index: 3;
    height: 30px;
    overflow: hidden;
    position: absolute;
    padding-top: 13px!important;
    padding-top: 12px;
    bottom:0px;
    left:0px;
    text-align: center;
}
.flash_bar .dq {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin:2px 4px;
    cursor: pointer;
    background: url(../images/pagination.png) no-repeat 0px -12px;
    overflow:hidden;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pagination.png" ,sizingMethod="crop");
}
.flash_bar .no {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin:2px 4px;
    cursor: pointer;
    background:url(../images/pagination.png) no-repeat 0px 0px; overflow:hidden;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/pagination.png" ,sizingMethod="crop");
}
.mask{
    background:url(../images/mask.png) no-repeat;
    position: absolute;

    z-index:1;
    width:995px;
    height:560px;
}
.pagination {
    margin:0;
    width:90px;
    position:absolute;
    top:355px;
    left:455px;
    z-index:3;
}
.pagination li {
    float:left;
    margin:0 1px;
}
.pagination li a{
    display:block;
    width:13px;
    height:0;
    padding-top:12px;
    background-image:url(../images/pagination.png);
    background-position:0 0;
    float:left;
    overflow:hidden;
}
.pagination li.current a {
    background-position:0 -12px;
}
/*banner.css end*/

footer{
    background:url("../images/footer_sp.gif") repeat-x #333333;
    height: 75px;
}
.footer_txt{
    width: 995px;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
}

/*公司简介*/
.main{
    width: 995px;

    margin: 0 auto;
}
.main .c_intro{
    background: url("../images/intro_bg.gif");
    width: 995px;
    height: 560px;
    display: block;
}
.container{
    float: left;
    width: 935px;
    /*height: 450px;*/
    background-color: rgba(0,0,0,0.6);
    margin-top: 160px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
hr{
    border:none;
    border-top:1px solid #8d8d8d;
    clear:both;
    content:"";
    zoom:1;
    height:0;
    width:100%;
    margin:0;
    padding: 0;
}
.container_header{
    margin-bottom: 15px;
}
.container_header a{
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #00fcff;
    margin: 0;
    padding-bottom: 4px;
    display: inline-block;
    float: left;
}
.container_header p.prenav{
    font-size: 12px;
    color: #8d8d8d;
    display: inline-block;
    line-height: 30px;
    margin: 0 0 0 10px;
}
.c_intro_txt{
    width: 590px;
    float: left;
}
.c_intro_txt p{
    word-break: break-all;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
}
.c_intro_txt span{
    color: #00fcff;
    font-weight: bold;
}
.c_intro_pic{
    float: right;

}
.s_footer_txt{
    position: relative;
    float: left;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 12px;
}

/*服务范围*/
.main .c_service{
    background: url("../images/ser_bg.gif");
    width: 995px;
    height: 560px;
    display: block;
}
.c_service_container{
    float: left;
    width: 935px;
    /*height: 450px;*/
    background-color: rgba(0,0,0,0.6);
    margin-top: 255px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
.c_service_cont1{
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    background: url("../images/ser1.png") no-repeat;
    height: 190px;
    padding-left: 84px;
    padding-top: 30px;
    color: #ffffff;
    line-height: 22px;
}
.c_service_cont2{
    float: right;
    margin-right: 250px;
    margin-top: 10px;
    background: url("../images/ser2.png") no-repeat;
    height: 190px;
    padding-left: 84px;
    padding-top: 30px;
    color: #ffffff;
    line-height: 22px;
}


/*设计师介绍*/
.c_designer{
    width: 995px;
    height: 560px;
    display: block;
}
.c_designer_container{
    float: left;
    width: 935px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
.c_designer_lheader{
    background: url("../images/designer_intro.png");
    height: 532px;
    width: 57px;
    float: left;
}
.left_con{
    float: left;
    margin-left: 45px;
}

.left_con img{
    width: 103px;
    height: 128px;
    float: left;
    display: block;
    margin-right: 10px;
}

.left_con .detail_intro{
    float: left;
}
.left_con .detail_intro .iconleft{
    background: url("../images/img_sub_menu_icon.gif") no-repeat;
    width:9px;
    height: 7px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top:12px;

}
.left_con .detail_intro table{
    /*border: none;*/
    color: #ffffff;
}
.left_con .detail_intro table{
    font-weight: normal;
    margin-top: -10px;
}
.left_con .detail_intro p{
    word-break: break-all;
    line-height: 22px;
    color: #ffffff;
    margin: 0;
}
.left_con .detail_intro span{
    color: #00fcff;
    font-weight: bold;
}

.left_con .summary .iconleft{
    background: url("../images/img_sub_menu_icon.gif") no-repeat;
    width:9px;
    height: 7px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 6px;


}
.left_con .summary{
    float: left;
    margin-top: 10px;
}
.left_con .summary .sum_txt{
    width: 530px;
    float: left;
}
.left_con .designintro{
    display: block;
    margin-top: 142px;
}
.left_con .designintro_header {
    background: url("../images/designintro_header.png") no-repeat;
    width: 820px;
    height: 19px;
}
#sucai{width:820px;height:65px;margin:10px auto;padding-right:12px;overflow:hidden;}
#sucai p{color:#fff;font-size:12px;line-height:22px;text-align:left;margin: 0;}
#sucai span{
    color: #00fcff;
    font-weight: bold;
}
#sucai2{width:820px;height:65px;margin:10px auto;padding-right:12px;overflow:hidden;}
#sucai2 p{color:#fff;font-size:12px;line-height:22px;text-align:left;margin: 0;}
#sucai2 span{
    color: #00fcff;
    font-weight: bold;
}


/*公司作品*/
.main .c_works{
    background: url("../images/work_bg.gif");
    width: 995px;
    height: 560px;
    display: block;
}

.c_work_container{
    float: left;
    width: 935px;
    /*height: 450px;*/
    background-color: rgba(0,0,0,0.6);
    margin-top: 45px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
.work_container_header ul li{

    display: inline-block;
    float: left;
}
.work_container_header ul li a{
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    float: left;
}
.work_container_header ul li a.selected{
    color: #ffffff;
    font-size: 14px;
    border-bottom: 2px solid #00fcff;
    margin: 0;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    float: left;
}



/*首页*/
/*div.indexmaindiv{height:270px;margin:0px auto;}*/
div.indexmaindiv1{margin-top:25px;}
div.indexmaindiv1 div.stylesgoleft{display:inline-block;float:left;width:12px;height:127px;background:url('../images/arrow_left.png') no-repeat;margin-top: 90px;cursor:pointer;}
div.indexmaindiv1 div.stylesgoleft:hover{float:left;background:url('../images/arrow_left_h.png') no-repeat;}
div.indexmaindiv1 div.playerdetail{float:left;width:164px;height:320px;}
div.indexmaindiv1 div.playerdetail div.detailimg{width:164px;height:320px;}
div.indexmaindiv1 div.playerdetail div.detailimg img{width:164px;height:94px;padding-bottom: 10px}
div.indexmaindiv1 div.stylesgoright{float:left;width:12px;height:127px;background:url('../images/arrow_right.png') no-repeat;margin-top: 90px; margin-left:5px;cursor:pointer;}
div.indexmaindiv1 div.stylesgoright:hover{float:left;width:12px;height:127px;background:url('../images/arrow_right_h.png') no-repeat;margin-top:90px;cursor:pointer;}
/*滚动*/
div.maindiv1{float:left;width:895px;height:320px;overflow:hidden;position:relative;}
div.maindiv1 ul{position:absolute;left:0;top:0;}
div.maindiv1 ul li{float:left;width:164px;height:320px;margin-left:13px;}


/*div.indexmaindiv1 div.playerdetail{float:left;width:164px;height:320px;}*/


.mod_vs_one .box_filter {
    position:relative;
    z-index:105;
    width:164px;
    height:94px;
    margin-bottom: 14px;
    cursor: pointer;
}
.mod_vs_one  .filter {
    position:absolute;
    z-index:106;
    left:0;
    bottom:0;
    _bottom:-1px;
    display:block;
    width:164px;
    height:94px;
    line-height:30px;
    text-align:center;
    filter:alpha(opacity=0);
    opacity:0;
    background-color:#000;
}
.mod_vs_one .font_lay {
    display:block;
    position:absolute;
    z-index:107;
    left:0;
    bottom:0;
    _bottom:-1px;
    width:164px;
    height:0;
    line-height:30px;
    text-align:center;
    filter:alpha(opacity=0);
    opacity:0;
}
.mod_vs_one  .tit {
    color:#fff;
    font-size:12px;
    text-decoration:none;
    display:block;
    line-height:22px;
    margin:25px 10px 0;
    text-align:center;
}

/*书刊编辑*/
div.indexmaindiv1 div.playerdetail div.detailimg2{width:164px;height:320px;}
div.indexmaindiv1 div.playerdetail div.detailimg2 img{width:164px;height:150px;padding-bottom: 10px}

.book_vs_one .book_filter {
    position:relative;
    z-index:105;
    width:164px;
    height:150px;
    margin-bottom: 14px;
    cursor: pointer;
}
.book_vs_one  .bfilter {
    position:absolute;
    z-index:106;
    left:0;
    bottom:0;
    _bottom:-1px;
    display:block;
    width:164px;
    height:150px;
    line-height:30px;
    text-align:center;
    filter:alpha(opacity=0);
    opacity:0;
    background-color:#000;
}
.book_vs_one .bfont_lay {
    display:block;
    position:absolute;
    z-index:107;
    left:0;
    bottom:0;
    _bottom:-1px;
    width:164px;
    height:0;
    line-height:30px;
    text-align:center;
    filter:alpha(opacity=0);
    opacity:0;
}
.book_vs_one  .tit {
    color:#fff;
    font-size:12px;
    text-decoration:none;
    display:block;
    line-height:22px;
    margin:25px 10px 0;
    text-align:center;
}


/*作品展示页*/
.c_works_display{

}
/*
.c_works_display_container{
    float: left;
    width: 935px;
    *//*height: 450px;*//*
    background-color: #484a49;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}*/

.mod18{width:995px;height:627px;margin:0px auto;position:relative;background-color: #484a49;}
.mod18 .btn{position:absolute;width:15px;height:70px;top:531px;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.mod18 .prev{left:0;background:url(../images/prevBtn.png) no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:140px;}
.mod18 #prevTop{background:url(../images/prev.png) 0 0 no-repeat; width: 31px;height: 61px;margin-left:33px}
.mod18 #prevTop:hover{background:url(../images/prev_h.png) 0 0 no-repeat; width: 31px;height: 61px;margin-left: 33px}
.mod18 #nextTop{background:url(../images/next.png) 0 0 no-repeat; width: 31px;height: 61px; margin-right: 33px}
.mod18 #nextTop:hover{background:url(../images/next_h.png) 0 0 no-repeat; width: 31px;height: 61px; margin-right: 33px}
.mod18 .next{right:0;background:url(../images/nextBtn.png) no-repeat;}
.mod18 li{float:left;}
.mod18 .cf li{position:relative;color:#fff;margin-bottom: 50px}
.mod18 .cf li img{
    display: block;
    margin: 0 auto;
}

/*.mod18 .cf li div{
    display:block;
    height: 80px;
    position:absolute;
    word-break: break-all;
    top:380px;
    margin: 0;
    padding:10px 20px;
    line-height:22px;
    text-align:left;
    background:rgba(0,0,0,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000");
}*/
.pictxt{
    width:965px;
    height:60px;
    top:380px;
    margin: 10px 15px;
    overflow:hidden;
}
.pictxt p{
    word-break: break-all;
    margin: 0;
    line-height:22px;
    text-align:left;
    padding: 0px 10px;
}
.pictxt span{
    color: #00fcff;
    font-weight: bold;
}
.mod18 .picBox{
    height:470px;
    position:relative;
    overflow:hidden;
    padding-top: 15px;
}
.mod18 .picBox ul{
    height:470px;
    position:absolute;
}
.mod18 .picBox li{
    width:995px;
    height:470px;
}

.mod18 .listBox{width:995px;height:125px;margin:0 auto;position:relative;padding:6px 0 10px;overflow:hidden; background-color: #262727}
.mod18 .listBox ul{position:absolute;padding: 0 22px}
.mod18 .listBox li{width:129px;height:70px;cursor:pointer;position:relative;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li a{display:block;width:124px;height:70px;}
.mod18 .listBox li img{width:118px;height:64px;border:3px solid #494949;}
.mod18 .listBox .on img{width:118px;height:64px;border:3px solid #ffffff;}
.mod18 .listBox .on i{display:block;}

.mod18 .listBox .listBox_header{
    height: 40px;
    padding: 0px 25px;

}
.mod18 .listBox .listBox_header a{
    color: #ffffff;
    font-size: 14px;
    border-bottom: 2px solid #00fcff;
    margin: 0;
    padding-bottom: 4px;
    /*display: inline-block;*/
    float: left;

}
.mod18 .listBox .listBox_header .right_txt{
    float: right;
    margin-right: 10px;
    /*margin-top: -15px;*/margin-top: 5px;
}
.mod18 .listBox .listBox_header .right_txt img{
    display: inline-block;
    float: left;
}
.mod18 .listBox .listBox_header .right_txt a{
    border: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.mod18 .listBox .listBox_header .right_txt a:hover{
    color: #00fcff;
}


/*影视制作*/

.btn-play{
    position: absolute;
    margin:28px auto 0 60px;
    background: url("../images/btn-play.png") no-repeat;
    width: 35px;
    height: 36px;
    background-position: 0 0;
}
.btn-play:hover {
    background-position: 0 -36px;
}

.main .c_video{
    background: url("../images/video.gif");
    width: 995px;
    height: 560px;
    display: block;
}

.c_video_container{
    float: left;
    width: 935px;
    /*height: 450px;*/
    background-color: rgba(0,0,0,0.6);
    margin-top: 165px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}

/*文化交流*/
.main .c_culture{
    background: url("../images/culture_bg.gif");
    width: 995px;
    height: 560px;
    display: block;
}
.c_culture_container{
    float: left;
    width: 935px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 165px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
.c_culture_cont{
    width:900px;
    height:313px;
    overflow: hidden;
}
.c_culture_cont img{
    margin-right: 10px;
}
.c_culture_cont ul li a{
    color: #ffffff;
    line-height: 22px;
    text-decoration: none;
    padding-bottom: 10px;
    /*cursor: pointer;*/
}
.c_culture_cont ul li a:hover{
    color: #00fcff;

}

/*文化交流详情页*/
.main .c_culture_detail{
    background: url("../images/detail_bg.gif");
    width: 995px;
    height: 653px;
    display: block;
}
.c_culture_detail_container{
    float: left;
    width: 935px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
.cont_header{

}
.cont_header h1{
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-bottom: 5px;
}
.cont_header p.time{
    color: #b8b8b8;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 404px;
    font-size: 12px;
    display: block;
    float: left;
}
.right_txt{
    float: right;
    margin-right: 10px;
}
.right_txt img{
    display: inline-block;
    float: left;
}
.right_txt a{
    color: #ffffff;
    border: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.right_txt a:hover{
    color: #00fcff;
}
.c_culture_detail_cont{

    width: 910px;
    height: 450px;
    margin: 10px auto;
    padding: 0 10px;

}
.c_culture_detail_cont p{
    margin: 0;
    line-height: 22px;
    color: #ffffff;
    font-size: 12px;
}
.c_culture_detail_cont img{
    margin: 0 auto;
    display: block;
    padding: 10px 0;
}


/*联系我们*/
.main .c_contact{
    background: url("../images/contact_bg.gif");
    width: 995px;
    height: 653px;
    display: block;
}
.c_contact_container{
    float: left;
    width: 935px;
    background-color: rgba(0,0,0,0.6);
    margin-top: 165px;
    margin-bottom: 10px;
    padding: 20px 30px;
    box-shadow:0px 0px 3px rgba(255,255,255,0.2);
}
.c_contact_cont .map_img{
    float: left;
}
.c_contact_cont .cont_info{
    float: right;
    width: 340px;
    margin-right: 15px;
}
.c_contact_cont .cont_info ul li{
    padding-bottom: 5px;
}
.c_contact_cont .cont_info ul li p{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}
.c_contact_cont .cont_info ul li span{
    color: #00fcff;
}
